.container {
  background-color: #c4efff;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 728px;
}

.nav {
  background-color: #b8edff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-direction: row;
  padding: 10px;
  z-index: 999;
  box-sizing: border-box;
  width: 100%;
}

.profile {
  display: flex;
  width: auto;
  border-radius: 50%;
}

.div {
  display: flex;
  width: auto;
  align-self: center;
}

.center {
  display: flex;
  margin-right: 5px;
}

.circle {
  display: flex;
  align-self: center;
  border-radius: 50%;
}

.back {
  align-self: center;
  flex: 2;
  width: fit-content;
}

.main {
  background-color: #c4efff;
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 60px;

  height: calc(100vh-120px);
}

.form {
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 728px;
  display: flex;
}

.textBox {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background-color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.button {
  background-color: #282c34; /* Green */
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.75rem;
}

.messageSent {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  flex-direction: row-reverse;
}

.messageSent p {
  background-color: white;
  padding: 12px;
  border-radius: 25px;
  align-self: flex-end;
  overflow-wrap: break-word;
  overflow-x: hidden;
  text-align: right;
}

.messageReceived {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
}

.messageReceived p {
  overflow-x: hidden;
  background-color: #76ddff;
  padding: 12px;
  border-radius: 25px;
  overflow-wrap: break-word;
  text-align: left;
}
